<div class="bg-light rounded-3 ">
	<img src="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}" class="rounded-top-3" style="width: 100%; height: 280px;"/>
	<div class="p-3 d-flex flex-column justify-content-between h-100">
		<h5 class="fw-bold my-2">
			<a href="{{ url }}" rel="bookmark" class="text-muted">{{ label }}</a>
		</h5>
		<div class="text-secondary">{{ content.body }}</div>
		<div class="bg-white p-1 px-2 rounded-2 border border-muted">{{ content.field_tags }}</div>
	</div>
</div>
